* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.container {
  margin: 0 auto;
}

.nav_menu {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 6em;
  padding: 0 2em;
}

.item {
  margin: 10px;
  padding: 12px;
}

.item a {
  text-decoration: none;
  color: #828282;
  transition: color 0.3s ease;
}

.item a:hover {
  color: black;
}

.line {
  width: 90%;
  max-width: 950px;
  margin: 10px auto;
}

.content {
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  margin-top: 60px;
}

.name {
  margin-left: 10px;
  font-size: 50px;
}

.proff {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding-top: 40px;
}

.lang {
  transform: rotate(-90deg);
  font-size: 13px;
  padding-top: 35px;
  font-weight: 800;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 943px;
  height: 387px;
  /* width: 65%;
  height: 65%; */
  object-fit: cover;

  margin-top: 55px;
  margin-bottom: 100px;
}

.about {
  text-align: center;
  font-weight: 400;
  background-color: #f6f6f6;
  line-height: 1.4;
  padding: 120px 10px;
}

.about h1 {
  font-weight: 700;
}

.skills {
  text-align: center;
  margin-top: 90px;
  line-height: 3;
  font-weight: 400;
  margin-bottom: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 90px;
  padding: 40px 60px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.card {
  background: white;
  overflow: hidden;
}

.logo {
  margin-bottom: 25px;
}

.info {
  font-weight: 500;
  font-family: "Montserrat-Medium", sans-serif;
  color: #828282;
  font-size: 14px;
  margin-bottom: 40px;
}

.star {
  color: black;
  font-size: 30px;
  letter-spacing: 8px;
}

.gray-star {
  color: #e5e5e5;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  background-color: #f6f6f6;
  padding: 100px 0;
}

.port-img {
  width: 65%;
  height: 65%;
  margin: 50px 0;
}

.port-info {
  font-weight: 500;
  font-family: "Montserrat-Medium", sans-serif;
  text-decoration: underline;
}

.footer-div {
  text-align: center;
  margin: 100px auto;
  line-height: 1.2;
}

.footer-div h1 {
  margin: 25px 0;
}

.footer-txt {
  margin: 10px auto;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.footer-btn {
  margin: 20px auto;
  padding: 10px 30px;
  background-color: black;
  color: white;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 17px;
  font-weight: 550;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.footer-btn:hover {
  background-color: #f6f6f6;
  color: black;
}

.footer-imgs {
  letter-spacing: 3em;
  margin-top: 70px;
  margin-bottom: 35px;
}

.footer-end {
  color: #828282;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.5;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .content {
    flex-direction: column;
  }
  .nav_menu {
    display: none;
  }
  .line {
    display: none;
  }
  .photo {
    max-width: 90%;
    height: 480px;
    margin-bottom: 50px;
  }
  .proff {
    margin-left: 20px;
  }

  .lang {
    display: none;
  }

  .name {
    font-size: 45px;
  }

  .footer-imgs {
    letter-spacing: 2em;
  }
  /* }
  .logo {
    width: 15%;
    height: auto;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  } */
}

/* Планшеты */
@media (min-width: 769px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .photo {
    /* width: 80%;
    height: 40%; */
    max-width: 80%;
    height: auto;
  }
}

/* Desktop */
@media (min-width: 1025px) {
}
